body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e4e9f2;
}


.container {
  padding: 40px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.hero h1 {
  font-size: 34px;
  color: #111;
}

.hero p {
  color: #444;
}

/* FILTRO */
.select {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 15px 0 30px 0;
  font-size: 14px;
}

/* GRID TARJETAS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* TARJETAS */
.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #222;
}

.card p {
  color: #555;
  font-size: 14px;
}

.card small {
  color: #777;
}
